<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:background="@color/app_background_temp_color">
    <TextView
        android:id="@+id/contentDotIVId"
        android:layout_height="10dp"
        android:layout_width="10dp"
        android:textSize="20sp"
        android:background="@drawable/read_unread_dots_selector"
        android:gravity="center_vertical|center_horizontal"
        android:layout_centerVertical="true"
        android:layout_marginLeft="10dp"
        android:visibility="invisible" />
    <LinearLayout
        android:id="@+id/blogItemContainer"
        android:orientation="vertical"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:layout_toRightOf="@+id/contentDotIVId"
        android:layout_marginLeft="5dp">
        <TextView
            android:id="@+id/itemTVId"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textColor="@android:color/black"
            android:textSize="18sp"
            android:paddingTop="15dp"
            android:paddingLeft="20dp"
            android:paddingBottom="8dp" />
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginLeft="20dp"
            android:paddingBottom="8dp"
            android:paddingTop="8dp">
            <TextView
                android:id="@+id/likeCountTVId"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="1"
                android:textColor="@android:color/black"
                android:textSize="16sp"
                android:drawablePadding="10dp"
                android:drawableLeft="@drawable/like_unchecked"
                android:gravity="center_vertical" />
            <TextView
                android:id="@+id/commentCountTVId"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="1"
                android:textColor="@android:color/black"
                android:textSize="16sp"
                android:drawablePadding="10dp"
                android:layout_marginLeft="40dp"
                android:layout_toRightOf="@+id/likeCountTVId"
                android:drawableLeft="@drawable/comment_unchecked"
                android:gravity="center_vertical" />
            <TextView
                android:id="@+id/dateTVId"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="20-12-2015"
                android:textColor="@android:color/black"
                android:textSize="16sp"
                android:paddingLeft="10dp"
                android:layout_alignParentRight="true"
                android:layout_centerVertical="true"
                android:layout_marginRight="40dp" />
        </RelativeLayout>
    </LinearLayout>
</RelativeLayout>