<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:background="@color/app_background_temp_color">
    <RelativeLayout
        android:id="@+id/searchRLId"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_centerVertical="true"
        android:background="@color/quiz_category_bgcolor"
        android:padding="10dp">
        <EditText
            android:id="@+id/searchETId"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:alpha="0.8"
            android:background="@drawable/login_edittext_selector"
            android:hint="@string/search_text"
            android:inputType="textFilter"
            android:padding="10dp"
            android:textColor="@android:color/black"
            android:textColorHint="#d0d0d0"
            android:textSize="16sp"
            android:layout_marginLeft="10dp"
            android:layout_marginRight="5dp"
            android:cursorVisible="true"
            android:textCursorDrawable="@null"
            android:drawableLeft="@drawable/search"
            android:drawablePadding="10dp"
            android:layout_toLeftOf="@+id/cancelTV"
            android:imeOptions="actionSearch" />
        <TextView
            android:id="@+id/cancelTV"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_centerVertical="true"
            android:layout_alignParentRight="true"
            android:text="@string/cancel_text"
            android:textSize="18sp"
            android:textColor="@color/login_button_color" />
    </RelativeLayout>
    <View
        android:layout_width="match_parent"
        android:layout_height="0.3dp"
        android:background="@color/quiz_line_color" />
    <android.support.v4.widget.SwipeRefreshLayout
        android:id="@+id/swipe_container"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <ListView
            android:id="@+id/blogsListViewId"
            android:layout_height="match_parent"
            android:layout_width="match_parent"
            android:divider="@color/quiz_line_color"
            android:dividerHeight="1dp"
            android:groupIndicator="@null"
            android:background="@color/quiz_category_bgcolor"
            android:scrollbars="none"
            android:listSelector="@android:color/transparent" />
    </android.support.v4.widget.SwipeRefreshLayout>
</LinearLayout>