<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:weightSum="10"
    android:background="@color/content_detail_background">
    <TextView
        android:id="@+id/contentTitleTV"
        android:layout_width="wrap_content"
        android:layout_height="0dp"
        android:textSize="16sp"
        android:textColor="@android:color/white"
        android:gravity="center_vertical"
        android:layout_marginLeft="20dp"
        android:layout_marginRight="20dp"
        android:maxLines="2"
        android:layout_weight="1"
        android:text="" />
    <RelativeLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_marginLeft="20dp"
        android:layout_marginRight="20dp"
        android:layout_gravity="center_horizontal"
        android:layout_weight="7">
        <android.webkit.WebView
            android:id="@+id/contentViewWV"
            android:layout_width="match_parent"
            android:layout_height="fill_parent"
            android:background="@android:color/transparent"
            android:visibility="gone"
            android:fitsSystemWindows="true"
            android:scrollbars="none" />
        <RelativeLayout
            android:id="@+id/videoImageViewRL"
            android:layout_height="match_parent"
            android:layout_width="match_parent"
            android:background="@android:color/black"
            android:visibility="gone">
            <ImageView
                android:id="@+id/videoImageView"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:src="@drawable/play"
                android:layout_centerInParent="true" />
        </RelativeLayout>
        <android.webkit.WebView
            android:id="@+id/tapToOpenPdf"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_centerInParent="true"
            android:visibility="gone" />
        <TextView
            android:id="@+id/tapToOpenPdfTV"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_centerInParent="true"
            android:text="Tap to open pdf"
            android:textColor="@color/login_button_color"
            android:textSize="16sp"
            android:visibility="gone"
            android:background="@android:color/white"
            android:gravity="center" />
        <ProgressBar
            android:id="@+id/dialogProgressBar"
            style="?android:attr/progressBarStyleInverse"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:visibility="gone" />
        <Button
            android:id="@+id/deleteBTN"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:background="@drawable/login_button_selector"
            android:paddingTop="10dp"
            android:paddingBottom="10dp"
            android:paddingLeft="30dp"
            android:paddingRight="30dp"
            android:layout_marginBottom="10dp"
            android:layout_centerHorizontal="true"
            android:text="DELETE"
            android:textAllCaps="false"
            android:textColor="@android:color/white"
            android:textSize="18sp"
            android:layout_alignParentBottom="true"
            android:visibility="gone" />
    </RelativeLayout>
    <LinearLayout
        android:id="@+id/contentActionsLayout"
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:weightSum="6"
        android:layout_weight="1">
        <RelativeLayout
            android:id="@+id/contentCommentRL"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:layout_gravity="center_vertical">
            <ImageView
                android:id="@+id/commentCountIV"
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:src="@drawable/comment_unchecked"
                android:layout_centerInParent="true"
                android:visibility="visible" />
            <TextView
                android:id="@+id/commentCountTV"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textSize="12sp"
                android:textColor="@android:color/white"
                android:text="0"
                android:layout_centerInParent="true"
                android:singleLine="true" />
        </RelativeLayout>
        <ImageView
            android:id="@+id/bookmarkIV"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:src="@drawable/bookmark_unchecked"
            android:layout_gravity="center_vertical" />
        <ImageView
            android:id="@+id/shareContentIV"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:src="@drawable/share_unchecked"
            android:layout_gravity="center_vertical" />
        <ImageView
            android:id="@+id/likeContentIV"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:src="@drawable/like_unchecked"
            android:layout_gravity="center_vertical" />
        <ImageView
            android:id="@+id/tagContentIV"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:src="@drawable/tag_unchecked"
            android:layout_gravity="center_vertical" />
        <ImageView
            android:id="@+id/downloadContentIV"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:src="@drawable/download_unchecked"
            android:layout_gravity="center_vertical" />
    </LinearLayout>
    <RelativeLayout
        android:id="@+id/contentActionsRL"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:background="@android:color/black">
        <TextView
            android:id="@+id/fileCreatedDateTV"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginLeft="20dp"
            android:textSize="16sp"
            android:textColor="@android:color/white"
            android:singleLine="true"
            android:text="dd-mm-yyyy"
            android:layout_centerVertical="true" />
        <TextView
            android:id="@+id/fileSizeTV"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginRight="20dp"
            android:textSize="16sp"
            android:textColor="@android:color/white"
            android:layout_alignParentRight="true"
            android:singleLine="true"
            android:text="0.00 MB"
            android:layout_centerVertical="true" />
    </RelativeLayout>
</LinearLayout>