<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/quiz_category_bgcolor">
    <RelativeLayout
        android:id="@+id/searchBoxContainerRL"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="@color/quiz_category_bgcolor"
        android:padding="10dp">
        <EditText
            android:id="@+id/searchETId"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginRight="5dp"
            android:layout_toLeftOf="@+id/composeCancelContainerRL"
            android:background="@drawable/search_shape"
            android:drawableLeft="@drawable/search"
            android:drawablePadding="10dp"
            android:hint="@string/search_text"
            android:inputType="textFilter"
            android:padding="10dp"
            android:textColor="@android:color/black"
            android:textColorHint="#d0d0d0"
            android:textSize="16sp"
            android:cursorVisible="true"
            android:textCursorDrawable="@null"
            android:imeOptions="actionSearch" />
        <RelativeLayout
            android:id="@+id/composeCancelContainerRL"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentRight="true"
            android:layout_marginLeft="5dp"
            android:layout_marginRight="5dp"
            android:layout_centerHorizontal="true"
            android:layout_centerVertical="true">
            <ImageView
                android:id="@+id/composeMessageIV"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:src="@drawable/edit"
                android:layout_centerInParent="true" />
            <TextView
                android:id="@+id/cancelTV"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/cancel_text"
                android:layout_centerInParent="true"
                android:textSize="18sp"
                android:textColor="@color/login_button_color"
                android:visibility="gone" />
        </RelativeLayout>
    </RelativeLayout>
    <View
        android:id="@+id/viewLineBelowSrchbox"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_below="@+id/searchBoxContainerRL"
        android:background="@color/quiz_line_color" />
    <RelativeLayout
        android:id="@+id/listLayout"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_below="@+id/viewLineBelowSrchbox"
        android:layout_above="@+id/footerLineView"
        android:background="@color/app_background_temp_color">
        <android.support.v4.widget.SwipeRefreshLayout
            android:id="@+id/swipe_container"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:background="@color/app_background_temp_color">
            <ListView
                android:id="@+id/messagesListLV"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:listSelector="@android:color/transparent"
                android:scrollbars="none" />
        </android.support.v4.widget.SwipeRefreshLayout>
    </RelativeLayout>
    <View
        android:id="@+id/footerLineView"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_above="@+id/footerLLId"
        android:layout_marginBottom="5dp"
        android:background="@color/quiz_line_color" />
    <LinearLayout
        android:id="@+id/footerLLId"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_alignParentBottom="true"
        android:orientation="horizontal"
        android:weightSum="3"
        android:background="@color/quiz_category_bgcolor">
        <LinearLayout
            android:id="@+id/inboxLLId"
            style="@style/message_footer_ll"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:background="@color/quiz_category_bgcolor">
            <ImageView
                android:id="@+id/inboxIV"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:src="@drawable/inbox_gray" />
            <TextView
                android:id="@+id/inboxTV"
                style="@style/message_footer_tv"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Inbox" />
        </LinearLayout>
        <LinearLayout
            android:id="@+id/archivedLLId"
            style="@style/message_footer_ll"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:background="@color/quiz_category_bgcolor">
            <ImageView
                android:id="@+id/archivedIV"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:src="@drawable/archiev_gray" />
            <TextView
                android:id="@+id/archivedTV"
                style="@style/message_footer_tv"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Archived" />
        </LinearLayout>
        <LinearLayout
            android:id="@+id/sentLLId"
            style="@style/message_footer_ll"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:background="@color/quiz_category_bgcolor">
            <ImageView
                android:id="@+id/sentIV"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:src="@drawable/sent_gray" />
            <TextView
                android:id="@+id/sentTV"
                style="@style/message_footer_tv"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Sent" />
        </LinearLayout>
    </LinearLayout>
</RelativeLayout>