<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:background="@color/app_background_temp_color">
    <RelativeLayout
        android:id="@+id/msgHeaderLayout"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="@drawable/header_gradient_background">
        <TextView
            android:id="@+id/cancelTV"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_centerVertical="true"
            android:layout_marginLeft="10dp"
            android:text="@string/cancel_button_text"
            android:textColor="@android:color/white"
            android:textSize="18sp" />
        <TextView
            android:id="@+id/messageHeaderTV"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:gravity="center_horizontal"
            android:padding="10dp"
            android:text="@string/message_text"
            android:textColor="@android:color/white"
            android:textSize="20sp" />
        <TextView
            android:id="@+id/sendTVId"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentRight="true"
            android:layout_centerVertical="true"
            android:layout_marginRight="10dp"
            android:layout_gravity="center"
            android:drawableRight="@drawable/send"
            android:drawablePadding="5dp"
            android:text="@string/send_message_text"
            android:textColor="@android:color/white"
            android:textSize="18sp" />
    </RelativeLayout>
    <LinearLayout
        android:id="@+id/msgFromLayout"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="horizontal"
        android:padding="10dp"
        android:layout_below="@+id/msgHeaderLayout">
        <TextView
            android:id="@+id/fromTV"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center_vertical"
            android:text="@string/from_text"
            android:textColor="@android:color/black"
            android:textSize="15sp" />
        <MultiAutoCompleteTextView
            android:id="@+id/fromACT"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginLeft="10dp"
            android:background="@android:color/white"
            android:textSize="14sp"
            android:textColor="@android:color/black"
            android:cursorVisible="true"
            android:textCursorDrawable="@null" />
    </LinearLayout>
    <View
        android:id="@+id/msgFromLayoutView"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:background="@color/quiz_line_color"
        android:layout_below="@+id/msgFromLayout" />
    <LinearLayout
        android:id="@+id/msgSubjectLayout"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="horizontal"
        android:padding="10dp"
        android:layout_below="@+id/msgFromLayoutView">
        <TextView
            android:id="@+id/subjectTV"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center_vertical"
            android:text="@string/subject_text"
            android:textColor="@android:color/black"
            android:textSize="15sp" />
        <EditText
            android:id="@+id/subjectET"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginLeft="10dp"
            android:background="@android:color/white"
            android:textSize="14sp"
            android:textColor="@android:color/black"
            android:cursorVisible="true"
            android:textCursorDrawable="@null"
            android:inputType="textMultiLine|textCapSentences"
            android:maxLines="2"
            android:maxLength="50" />
    </LinearLayout>
    <View
        android:id="@+id/subjectLineView"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:background="@color/quiz_line_color"
        android:layout_below="@+id/msgSubjectLayout" />
    <RelativeLayout
        android:id="@+id/contentLayout"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_below="@+id/subjectLineView">
        <RelativeLayout
            android:id="@+id/attachmentLayout"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:padding="10dp">
            <TextView
                android:id="@+id/attachmentTV"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_vertical"
                android:text="@string/attachment_text"
                android:textColor="@android:color/black"
                android:textSize="15sp" />
            <RelativeLayout
                android:id="@+id/attachmentDataLayout"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_toRightOf="@+id/attachmentTV"
                android:layout_toLeftOf="@+id/attachmentIV">
                <TextView
                    android:id="@+id/attachmentImgTV"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:gravity="center_vertical"
                    android:textColor="@android:color/black"
                    android:textSize="14sp"
                    android:layout_marginLeft="5dp"
                    android:singleLine="true"
                    android:drawableRight="@drawable/attachment_cancel"
                    android:drawablePadding="5dp"
                    android:visibility="invisible" />
            </RelativeLayout>
            <ImageView
                android:id="@+id/attachmentIV"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentRight="true"
                android:background="@drawable/button_click_bg_selector"
                android:src="@drawable/attachment"
                android:layout_marginRight="5dp"
                android:layout_marginLeft="5dp" />
        </RelativeLayout>
        <View
            android:id="@+id/attachmentLayoutView"
            android:layout_width="match_parent"
            android:layout_height="1dp"
            android:layout_marginLeft="10dp"
            android:layout_marginRight="10dp"
            android:background="@color/quiz_line_color"
            android:layout_below="@+id/attachmentLayout" />
        <RelativeLayout
            android:id="@+id/bodyETTVLayout"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_below="@+id/attachmentLayoutView">
            <EditText
                android:id="@+id/bodyET"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_margin="10dp"
                android:background="@android:color/white"
                android:gravity="top"
                android:text=""
                android:singleLine="false"
                android:textSize="14sp"
                android:maxLength="200"
                android:textColor="@android:color/black"
                android:inputType="textMultiLine|textCapSentences"
                android:cursorVisible="true"
                android:textCursorDrawable="@null"
                android:layout_below="@+id/rplyTextLayout" />
        </RelativeLayout>
    </RelativeLayout>
</RelativeLayout>