<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:layout_margin="10dp"
    android:weightSum="5"
    android:background="@drawable/photo_dialog_shape_selector">
    <RelativeLayout
        android:id="@+id/dataViewRLId"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:background="@android:color/white"
        android:layout_above="@+id/cancelRLId"
        android:layout_weight="4.3">
        <android.webkit.WebView
            android:id="@+id/quizWebView"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:scrollbars="none"
            android:background="@android:color/transparent"
            android:layout_centerInParent="true"
            android:visibility="gone" />
        <RelativeLayout
            android:id="@+id/videoImageViewRL"
            android:layout_height="match_parent"
            android:layout_width="match_parent"
            android:background="@android:color/black"
            android:layout_centerInParent="true"
            android:visibility="visible">
            <ImageView
                android:id="@+id/videoImageView"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:visibility="visible"
                android:src="@drawable/play"
                android:layout_centerInParent="true" />
        </RelativeLayout>
        <android.webkit.WebView
            android:id="@+id/tapToOpenPdf"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_centerInParent="true"
            android:layout_below="@+id/attachmentTV"
            android:visibility="gone" />
        <ProgressBar
            android:id="@+id/dialogProgressBar"
            style="?android:attr/progressBarStyleInverse"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:layout_centerInParent="true"
            android:visibility="invisible" />
    </RelativeLayout>
    <RelativeLayout
        android:id="@+id/cancelRLId"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="0.7"
        android:layout_gravity="center_horizontal"
        android:background="@android:color/white"
        android:layout_marginTop="5dp"
        android:layout_marginBottom="5dp">
        <Button
            android:id="@+id/closeBtnId"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            style="@style/quiz_btn_styles"
            android:paddingLeft="30dp"
            android:paddingRight="30dp"
            android:text="Close"
            android:layout_centerInParent="true" />
    </RelativeLayout>
</LinearLayout>