<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@android:color/white">
    <ScrollView
        android:id="@+id/scrollViewId"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:scrollbars="none"
        android:fillViewport="true">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <TextView
                android:id="@+id/questionHeaderTVId"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@color/quiz_category_bgcolor"
                android:padding="15dp"
                android:textColor="@color/question_header_text_color"
                android:textSize="20sp" />
            <View
                android:id="@+id/lineViewId"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_below="@+id/questionHeaderTVId"
                android:background="@color/quiz_line_color" />
            <TextView
                android:id="@+id/questionStaticTVId"
                style="@style/quiz_question_static_tv"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_below="@+id/lineViewId"
                android:text="@string/question_text" />
            <TextView
                android:id="@+id/questionDynamicTVId"
                style="@style/quiz_question_dynamic_tv"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_below="@+id/questionStaticTVId" />
            <TextView
                android:id="@+id/answereStaticTVId"
                style="@style/quiz_question_static_tv"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_below="@+id/questionDynamicTVId"
                android:text="@string/answere_text" />
            <LinearLayout
                android:id="@+id/answerLLId"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="vertical"
                android:layout_marginLeft="20dp"
                android:layout_below="@+id/answereStaticTVId">
                <LinearLayout
                    android:id="@+id/answerInnerLLId"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:orientation="vertical" />
                <RadioGroup
                    android:id="@+id/radioGroupId"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:orientation="vertical" />
            </LinearLayout>
            <LinearLayout
                android:id="@+id/buttonsLayoutId"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginLeft="10dp"
                android:layout_marginRight="20dp"
                android:layout_marginTop="20dp"
                android:orientation="horizontal"
                android:weightSum="2"
                android:layout_below="@+id/answerLLId">
                <RelativeLayout
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1">
                    <Button
                        android:id="@+id/cancelBtnId"
                        style="@style/quiz_btn_styles"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_marginRight="20dp"
                        android:text="@string/cancel_button_text" />
                </RelativeLayout>
                <RelativeLayout
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1">
                    <Button
                        android:id="@+id/submitBtnId"
                        style="@style/quiz_btn_styles"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_alignParentRight="true"
                        android:layout_marginLeft="20dp"
                        android:text="@string/submit_button_text" />
                </RelativeLayout>
            </LinearLayout>
            <Button
                android:id="@+id/openMediaContentBtnId"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:layout_marginLeft="20dp"
                android:layout_marginRight="20dp"
                android:layout_marginTop="20dp"
                android:background="@drawable/login_button_selector"
                android:paddingBottom="6dp"
                android:paddingTop="6dp"
                android:text="@string/open_media_content_button_text"
                android:textColor="@android:color/white"
                android:textSize="18sp"
                android:layout_below="@+id/buttonsLayoutId" />
            <View
                android:layout_below="@+id/openMediaContentBtnId"
                android:layout_width="wrap_content"
                android:layout_height="20dp" />
        </RelativeLayout>
    </ScrollView>
<!--    <RelativeLayout
        android:id="@+id/popupLayoutId"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="@android:color/white"
        android:layout_margin="10dp"
        android:visibility="invisible">
        <RelativeLayout
            android:id="@+id/dataViewRLId"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@android:color/white"
            android:layout_marginBottom="20dp"
            android:layout_above="@+id/cancelRLId">
            <android.webkit.WebView
                android:id="@+id/quizWebView"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:scrollbars="none"
                android:background="@android:color/transparent"
                android:visibility="invisible" />
            <RelativeLayout
                android:id="@+id/videoImageViewRL"
                android:layout_height="match_parent"
                android:layout_width="match_parent"
                android:background="@android:color/black"
                android:visibility="gone">
                <ImageView
                    android:id="@+id/videoImageView"
                    android:layout_width="50dp"
                    android:layout_height="50dp"
                    android:visibility="visible"
                    android:src="@drawable/play"
                    android:layout_centerInParent="true" />
            </RelativeLayout>
            <android.webkit.WebView
                android:id="@+id/tapToOpenPdf"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_centerInParent="true"
                android:layout_below="@+id/attachmentTV"
                android:visibility="invisible" />
            <ProgressBar
                android:id="@+id/dialogProgressBar"
                style="?android:attr/progressBarStyleLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:layout_centerInParent="true"
                android:visibility="invisible" />
            <View
                android:layout_width="match_parent"
                android:layout_height="20dp" />
        </RelativeLayout>
        <RelativeLayout
            android:id="@+id/cancelRLId"
            android:layout_width="match_parent"
            android:layout_height="40dp"
            android:background="@android:color/white"
            android:layout_alignParentBottom="true">
            <Button
                android:id="@+id/closeBtnId"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                style="@style/quiz_btn_styles"
                android:paddingLeft="30dp"
                android:paddingRight="30dp"
                android:text="Close"
                android:layout_centerHorizontal="true" />
        </RelativeLayout>
    </RelativeLayout>-->
</RelativeLayout>