<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:id="@+id/chooseLayoutLL"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:layout_margin="10dp"
        android:layout_centerInParent="true"
        android:weightSum="6"
        android:background="@drawable/photo_dialog_shape_selector">
        <RelativeLayout
            style="@style/SingleGradient"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_weight="1">
            <TextView
                android:id="@+id/dialogTitleTV"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:padding="10dp"
                android:textSize="22sp"
                android:textColor="@android:color/white"
                android:gravity="center"
                android:layout_centerInParent="true"
                android:drawableLeft="@drawable/exclamation"
                android:drawablePadding="5dp"
                android:text="" />
        </RelativeLayout>
        <TextView
            android:id="@+id/dialogDescTV"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_weight="4"
            android:padding="10dp"
            android:textSize="16sp"
            android:text=""
            android:textColor="@color/light_text_color"
            android:gravity="left"
            android:maxLines="15"
            android:scrollbars="vertical" />
        <TextView
            android:id="@+id/dialogAcceptTV"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:padding="15dp"
            android:textSize="16sp"
            android:textColor="@android:color/white"
            android:gravity="center"
            android:layout_weight="1"
            android:layout_marginRight="10dp"
            android:layout_marginLeft="10dp"
            android:layout_marginBottom="10dp"
            android:text=""
            android:background="@color/terms_accept_button_color" />
    </LinearLayout>
</RelativeLayout>